---
- hosts: all
  vars:
    - name: "clock-raspio"
    - file: "clock-raspio-service.py"
    - service_file: "clock-raspio.service"
  tasks:
  - name:   Install requirements
    apt:    name={{item}}
    become: yes
    with_items: 
    - python
    - python-jinja2
    - mpd
    - mpc
  - name:       Use PWM mode 2 for better sound quality
    lineinfile: dest='/boot/config.txt' line='audio_pwm_mode=2'
    become:     yes
  - name:   Create var/lib folder
    file:   path=/var/lib/{{name}} owner=root group=root mode='u=rwx,g=rx,o=rx' state=directory
    become:  yes
  - name:   Create var/lib/music folder
    file:   path=/var/lib/{{name}}/music owner=root group=root mode='u=rwx,g=rx,o=rx' state=directory
    become:  yes
  - name:   Create usr/share folder
    file:   path=/usr/share/{{name}} owner=root group=root mode='u=rwx,g=rx,o=rx' state=directory
    become: yes
  - name:   Install {{name}}
    copy:   src="{{file}}" dest="/usr/sbin/{{file}}" owner=root group=root mode='ugo=rx'
    become: yes
  - name:   Install {{name}} resources
    copy:   src="share/{{item}}" dest="/usr/share/{{name}}/{{item}}" owner=root group=root mode='ugo=r'
    become: yes
    with_items:
      - template.html
      - stylesheet.css
  - name:   Install {{name}} resources
    copy:   src="share/{{item}}" dest="/var/lib/{{name}}/music/{{item}}" owner=root group=root mode='ugo=r'
    become: yes
    with_items:
      - wind-chimes_by_inspectorj.flac
  - name:   Install {{name}} service
    copy:   src="{{service_file}}" dest="/etc/systemd/system/{{service_file}}" owner=root group=root mode='u=rw,go=r'
    become: yes
  - name:       Setup MPD directory
    lineinfile: dest='/etc/mpd.conf' line='music_directory "/var/lib/{{name}}/music"' regexp='^music_directory'
    become:     yes
  - name:    Restart MPD
    service: name=mpd state=restarted
    become:  yes    
  - name:    Scan files
    command: mpc --wait update
  - name:    Enable and start {{name}} service
    systemd: daemon_reload=yes name={{service_file}} enabled=yes state=started
    become:  yes
