<html>
<body>
<h1>Clock-raspio</h1>

<h2>Profile</h2>
<form action="set_profile" method="POST">
<select name="profile_name">
{% for profile_name in config.profiles -%}
<option value="{{profile_name}}" {% if profile_name == config.current_profile_name -%}selected="selected"{% endif -%} >{{profile_name}}</option>
{% endfor -%}
</select>
<input type="submit" value="Set current profile">
</form>

<h3>Timetable </h3>
Period : {{config.profiles[config.current_profile_name].timetable.period}}<br/>
{% for timeslot in config.profiles[config.current_profile_name].timetable.timeslots %}
Start time : [{{timeslot.begin_day}}] {{timeslot.begin_hour}}:{{timeslot.begin_minute}}<br/>
Duration : {{timeslot.duration}}<br/>
Fade-in duration : {{timeslot.fade_in_duration}}<br/>
Playlist : {{timeslot.playlist_name}}<br/>
{% endfor %}

<h2>Timzones</h2>
<form action="set_timezone" method="POST">
<select name="timezone">
{% for continent in timezone_list -%}{% for zone in timezone_list[continent] -%}
<option value="{{continent}}/{{zone}}" {% if (continent+'/'+zone) == timezone_current -%}selected="selected"{% endif -%}>{{continent}} - {{zone}}</option>
{% endfor -%}{% endfor -%}
</select>
<input type="submit" value="Set timezone">
</form>

<h2>Playlists</h2>

{% for profile_name in config.profiles -%}
<option value="{{profile_name}}" {% if profile_name == config.current_profile_name -%}selected="selected"{% endif -%} >{{profile_name}}</option>
{% endfor -%}

<h2>Actions</h2>
<form action="/snooze" method="POST">
<input type="submit" value="Snooze">
</form>
<form action="/discard" method="POST">
<input type="submit" value="Discard">
</form>

<h2>Expert</h2>
{% if display_update_button %}
<form action="/update" method="POST">
<input type="submit" value="Install updates and restart">
</form>
{% endif %}
</body>
</html>
